/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------Importation des poilces---------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
	font-family:'geo';
	src:url('../fonts/geo.ttf');
}

@font-face {
	font-family:'captain';
	src:url('../fonts/captain.ttf');
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------GLOBAL--------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/

body{
	background-color: #E9E9E9 ;
	overflow-x: hidden;
	width: 100%;
}

span{
	color: orange;
}

.row{			/* Putain de margin de Bootstrap à enlever */
	margin-left: 0;
	margin-right: 0;
}

.col-xs-8{		/* Putain de bootstrap */
	padding: 0;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------HEADER--------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/



.hidden2{		/*Logo PC qui n'apparaît pas */
	display: none;
}

.clear2{		/*Logo mobile qui apparaît (mobile first) */
	display: block;
}

#logo{			/*Logo mobile */
	width: 100%;
	margin-top: 10px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#logo2{
	width: 20%;
	box-shadow: 2px 2px 5px 0px #656565;	/*PLEEEEEIN DE BOX SHADOW MOUHAHAHA*/
}

/*-----------------------------BARRE DE NAVIGUATION----------------------------*/

#nav{							/*Le nav global */
	box-shadow: 2px 2px 5px 0px #656565;
	background-color: #1693A5 ;
}


#nav ul{						/*Liste du nav */
	list-style: none;					/*On cache les déco des éléments */
	background-color: #4D4A4A;
	padding: 0;
	margin: 0;
	font-family: 'geo';
	box-shadow: 2px 2px 5px 0px #656565;
}

#nav ul li{						/* Eléments de la liste */
	font-size: 1.5em;
	padding: 7px;
	text-align: center;
	border : 1px solid grey;	
}

#nav ul li:hover, li:active{				/* Eléments au passage de la souris */	
	background-color: #24888F;
}	
#nav ul li a{						/* Liens dans l'élément */
	text-decoration: none;
	color: #E9E9E9 ;
}

#nav ul li:hover a{					/* Liens au passage de la souris sur l'élément */
	color: white;
	text-decoration: none;
}

#focusLI{						/* Elément de la page active */
	background-color: #24888F;
}

#focusLI a{						/* Lien de la page active */
	color: white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------PRESSE---------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/

#presse{						/*Div de presse*/
	background-color: #24888F;	
	margin-top: 20px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#une{							/*Ensemble des images */
	margin-top: 50px;
	font-size: 3em;
	border-bottom: 5px solid orange;
	font-family: 'geo';
	color: #4D4A4A;
}

#une1{						/*Première image*/
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#une2{						/* Deuxième image */
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#une3{						/* Troisième image */
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#logoHamburger{					/* Logo du Hamburger */
	width: 5%;
}

#hamburger{						/* Div du future hamburger */
	text-align: center;
	background-color: #4D4A4A;
	box-shadow: 2px 2px 5px 0px #656565;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------FACEBOOK----------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------*/

#divSocial{
	margin-top: 30px;
	background-color: #24888F;
	box-shadow: 2px 2px 5px 0px #656565;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

}

#logoFacebook{
	width: 60%;	
}

#divLogoFacebook{
	text-align: center;
	background-color: #3B5998;
	margin-top: 50px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#facebook{						/* Div Facebook derrière */
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	background-color: #3B5998;
	box-shadow: 2px 2px 5px 0px #656565;
	text-align: center;
	height: 600px;
}

#facebook2{						/* Div Facebook devant (avec publication) */
	background-color: #3B5998;
	text-align: center;
	height: 600px;
	overflow: scroll;
}
							/* Formatage des publications */
#publication{
	margin-top: 10px;
	width: 100%;
	background-color: #E9E9E9;
	box-shadow: 2px 2px 5px 0px #656565;
}

#citation{
	background-color: white;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	width: 90%;
	height: 672px;
	margin: 20px;
	margin-top: 30px;
	box-shadow: 2px 2px 5px 0px #656565;
}

#footer{
	font-size: 1em;
	padding-top: 30px;
}

#imgCarousel{
	width: 600px;
	height: 100px;
}

#footer{
	border-top: 1px solid grey;
	margin-top: 20px;
}

@media (min-width: 992px) {				/* Version PC */

	#nav{
		background-color: #E9E9E9;

	}

	#nav ul{
	list-style: none;
	background-color: #24888F;
	padding: 12px;
	margin: 0;
	font-family: 'geo';
	box-shadow: 2px 2px 5px 0px #656565;
	}

	#nav ul li{
		font-size: 1.5em;
		padding: 13px;
		text-align: center;
		border : none;
		display: inline;				/* Nav en ligne */
	}

	#nav ul li:hover, li:active{
		background-color: #1693A5;
	}
	#nav ul li a{
		text-decoration: none;
		color: #E9E9E9 ;
		font-weight: bolder;
	}

	#nav ul li:hover a{
		color: white;
		text-decoration: none;
	}
	
	#logo2{
		box-shadow: none;
		width: 13%;
	}

	.hidden2{			/* On fait apparaître un logo et disparaître l'autre */
		display: block;
	}

	.clear2{
		display: none;
	}

	#logoHamburger{
		width: 2%;
	}

	#imgCarousel{
		width: 600px;
		height: 300px;
	}

	#une{
		margin-left: 10px;
		width: 60%;
		border-bottom: 2px solid orange;
	}

	#une1{						/*Première image*/
		width: 100%;
		box-shadow: 2px 2px 5px 0px #656565;
		margin: 0;
		padding: 0;
	}

	#une2{						/* Deuxième image */
		width: 90%;
		height: 185px;
		box-shadow: 2px 2px 5px 0px #656565;
		margin: 0;
		padding: 0;
	}

	#une3{						/* Troisième image */
		width: 90%;
		height: 185px;
		box-shadow: 2px 2px 5px 0px #656565;
		margin: 0;
		padding: 0;
	}

	.col-xs-12{
		padding: 0;
	}

	.col-md-7{
		padding: 0;
		padding-top: 30px;
		padding-left: 30px;
		margin: 0;
	}

	#une1Div{
		padding: 0;
		padding-top: 30px;
		margin: 0;
	}

	#une2Div{
		padding: 0;
		margin: 0;
		padding-bottom: 30px;
	}

	#page1{
		margin-top: 30px;
		background-color: white;
		box-shadow: 2px 2px 5px 0px #656565;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#logoFacebook{
	width: 30%;	
	}

	#divLogoFacebook{
		text-align: center;
		background-color: #3B5998;
		margin-top: 0px;
		margin-bottom: 0px;
		box-shadow: 2px 2px 5px 0px #656565;
	}

	#facebook{						/* Div Facebook derrière */
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 50px;
		background-color: #3B5998;
		box-shadow: 2px 2px 5px 0px #656565;
		text-align: center;
		height: 600px;
	}

	#facebook2{						/* Div Facebook devant (avec publication) */
		background-color: #3B5998;
		text-align: center;
		height: 600px;
		overflow: hidden;
	}
	
	#citation{
		background-color: white;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 50px;
		width: 38%;
		height: 672px;
		margin: 20px;
		margin-top: 30px;
		box-shadow: 2px 2px 5px 0px #656565;
	}			

 }

 ul, li{ 
  list-style: none;
  padding: 0; 
}
h2{
  text-align: center;
  margin-bottom: 10px;
  color:white;
  font-size: 23px;
  font-family: 'geo';  
}
footer{
background: #1693A5;
color: white;
width: auto;
height: 30px;
line-height: 20px;
text-align: left;
}
#ag2r{
  padding-left: 30px;
}
#afmd{
  padding-left: 20px;
}
#acse{
  padding-left: 75px;
}
#anru{
  padding-left: 35px;
}
#cuisines{
  padding-left: 90px;
}
#laposte{
  padding-left: 75px;
}
#apf{
  padding-left: 35px;
}
#cuisines{
  padding-left: 35px;
}
#cnam{
  padding-left: 20px;
}
#ratp{
  padding-left: 40px;
}
#ministere{
  padding-left: 30px;
}
.caroussel {
  margin: 0 auto;
  max-width: 600px;
}
.carousel { 
  margin: 0 -100px;  
  width: calc(100% - ($button-spacing * 2));
}

/* Alors tout ça, faut pas chercher à comprendre c'est justes les fleches pour le caroussel */
.carousel[data-shift="1"] .carousel-inner > .item {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.carousel .carousel-inner > .item.row { margin: 0; 
}
.carousel .carousel-control {
  background: none;
  color: transparent;
  overflow: hidden;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 30px;
}
.carousel .carousel-control:before {
  color: #444;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
}
.carousel .carousel-control:after {
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  content: '';
  height: 60%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
}
.carousel .carousel-control:hover:after{ 
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7); 
}
.carousel .carousel-control.left{ 
  left: -30px; 
}
.carousel .carousel-control.left:before{ 
  content: '\e079'; 
}
.carousel .carousel-control.left:after{} 
  right: -100%; 
}
.carousel .carousel-control.right{ 
  right: -30px; 
}
.carousel .carousel-control.right:before{ 
  content: '\e080'; 
}
.carousel .carousel-control.right:after{ 
  left: -100%; 
}